@model IEnumerable<WebSiteWasi.Models.Producto>
@{
    ViewData["Title"] = "VistaListaProductos";
}

<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Productos</h2>
        </div>
        @if (User.IsInRole("ADMIN"))
        {
            <div class="col-6">
                <a asp-controller="Producto" asp-action="VistaRegistrarProducto" class="btn btn-primary">Nuevo Producto</a>
            </div>
            
        }

    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-black text-center">Id</th>
                    <th class="text-black text-center">Nombre</th>
                    <th class="text-black text-center">Descripcion</th>
                    <th class="text-black text-center">Precio</th>
                    <th class="text-black text-center">Stock</th>
                    <th class="text-black text-center">IdCategoria</th>
                    <th class="text-black text-center">Imagen</th>
                    <th class="text-black text-center">Fecha de Creacion</th>
                    <th class="text-black text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th width="2%" class="text-center">@item.IdProducto</th>
                        <th width="5%" class="text-center">@item.NombreProducto</th>
                        <th width="10%" class="text-center">@item.DescripcionProducto</th>
                        <th width="2%" class="text-center">@item.PrecioProducto</th>
                        <th width="2%" class="text-center">@item.StockProducto</th>
                        <th width="2%" class="text-center">@item.IdCategoria</th>
                        <th width="20%" class="text-center">
                            <img src="/ImagenesProductos/@item.ImagenURLProducto" width="100" />
                        </th>
                        <th width="30%" class="text-center">@item.FechaCreacionProducto.ToString("dd/MM/yyyy")</th>

                        <th width="50%" class="text-center">
                            <div class="m-75 btn-group" role="group">
                                @if (User.IsInRole("CLIENT"))
                                {
                                    <a asp-controller="Carrito" asp-action="AgregarAlCarrito" asp-route-id="@item.IdProducto" class="btn btn-success mx-2">Agregar al Carrito</a>
                                }
                                else if (User.IsInRole("ADMIN"))
                                {
                                    <a asp-controller="Producto" asp-action="VistaModificarProducto" asp-route-Id="@item.IdProducto" class="btn btn-primary mx-2">Modificar</a>
                                    <a asp-controller="Producto" asp-action="VistaPreEliminarProducto" asp-route-Id="@item.IdProducto" class="btn btn-danger mx-2">Eliminar</a>
                                }
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros de Productos</p>
    }
</div>
